/dist-newstyle/
.stack-work-profile/
.*.pl
.*.preproc.v
.*.smt2
.log*
flycheck_*

/*.prof
/*.prof.html
/.test-report.txt

.liquid/
.*.fq

cplex.json

/run_all
/old_src/
/TAGS
/debug-*
/ir
/out
gce-input

fixpoint-trace.json

graph*.dot
graph*.png
graph*.pdf
vardep.dot
vardep.pdf
merge-cycle.*
iodine.prof.html*
/output
/non*Tree*.*

/report.html